/* home.css */
.container-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.row > div {
    flex: 1 1 1%; /* Allows flexible, responsive card sizing */
   
    border: px solid #49b8c5;
  
    text-align: left;
   
    
}

.card img{
    width: 50%;
    height: 10px;
    border-radius: 2px;
}

.card h5, .card p {
    margin-bottom: 1px;
    font-weight: bold;
}

.card .btn {
    
    color: #7e0707;
    background-color: #2200ff;
    border: none;
    padding: 2px 2px;
    border-radius: 7px;
}

.card .btn:hover {
    background-color: #03b300;
}